
<!doctype html>
<html>
<head>
  <meta charset = "utf-8">
  <title>Kanye West </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Kanye West</h1>
    <p>The voice of a generation</p>
  </header>
  <nav>
    <ul>
      <li><a href = "/">Home</a></li>
      <li><a href = "/about">About</a></li>
      <li><a href = "/discography">Discography</a></li>
      <li><a href = "/tour">Tour Dates</a></li>
    </ul>
  </nav>
  <main>
    <h2>About Kanye</h2>
    <p>You should probably just swallow your pride and admit that Kanye West has ruled
    mainstream hip hop for the past decade. No other artist has stayed relevant, changed his style,
    topped the charts, and played the media like he has. Seven albums and each one is fire. You gotta respect that. 
    </p>
  </main>
  <footer> (c) 2014 <strong>Mikey Badr</strong></footer>
</body>
</html>
