
<!doctype html>
<html>
<head>
  <meta charset = "utf-8">
  <title>Kanye West </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Kanye West</h1>
    <p>The voice of a generation</p>
  </header>
  <nav>
    <ul>
      <li><a href = "/">Home</a></li>
      <li><a href = "/about">About</a></li>
      <li><a href = "/discography">Discography</a></li>
      <li><a href = "/tour">Tour Dates</a></li>
    </ul>
  </nav>
  <article>
    <h2>Discography</h2>
    <ul>
      <li><em>The College Dropout</em> - 2004</li>
      <li><em>Late Registration</em> - 2005</li>
      <li><em>Graduation</em> - 2007</li>
      <li><em>808s & Heartbreak</em> - 2008</li>
      <li><em>My Beautiful Dark Twisted Fantasy</em> - 2010</li>
      <li><em>Watch the Throne <small>with Jay-Z</small></em> - 2011</li>
      <li><em>Yeezus</em> - 2013</li>
    </ul>
  </article>
  <footer> (c) 2014 <strong>Mikey Badr</strong></footer>
</body>
</html>
