<!doctype html>
<html>
<head>
  <meta charset = "utf-8">
  <title>Kanye West </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Kanye West</h1>
    <p>The voice of a generation</p>
  </header>
  <nav>
    <ul>
      <li><a href = "/">Home</a></li>
      <li><a href = "/about">About</a></li>
      <li><a href = "/discography">Discography</a></li>
      <li><a href = "/tour">Tour Dates</a></li>
    </ul>
  </nav>
  <main>
    <h2>Welcome to Mikey's Kanye tribute page</h2>
    <img src="/images/kanye1.jpg">
  </main>
  <footer> (c) 2014 <strong>Mikey Badr</strong></footer>
</body>
</html>
