
<!doctype html>
<html>
<head>
  <meta charset = "utf-8">
  <title>Kanye West </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Kanye West</h1>
    <p>The voice of a generation</p>
  </header>
  <nav>
    <ul>
      <li><a href = "/">Home</a></li>
      <li><a href = "/about">About</a></li>
      <li><a href = "/discography">Discography</a></li>
      <li><a href = "/tour">Tour Dates</a></li>
    </ul>
  </nav>
  <main>
    <h2>Upcoming Tour Dates</h2>
    <ul>
      <li> <strong> Aug 8-</strong> San Fransisco, CA </li>
      <li> <strong> Aug 31-</strong> Los Angeles, CA </li>
      <li> <strong> Sep 5-</strong> Perth WA, Australia </li>
      <li> <strong> Sep 7-</strong> Hindmarsh SA, Australia </li>
      <li> <strong> Sep 9-</strong> Melbourne VIC, Australia </li>
      <li> <strong> Sep 10-</strong> Melbournce VIC, Australia </li>
      <li> <strong> Sep 12-</strong> Sydney NSW, Australia </li>
      <li> <strong> Sep 13-</strong> Sydney NSW, Australia </li>
      <li> <strong> Sep 15-</strong> Boondall QLD, Australia </li>
    </ul>
  </main>
  <footer> (c) 2014 <strong>Mikey Badr</strong></footer>
</body>
</html>
